# Unreal Engine
Binaries/
DerivedDataCache/
Intermediate/
Saved/
.vs/

# Visual Studio / Rider
*.VC.db
*.VC.opendb
*.sln
*.suo
*.xcodeproj
*.xcworkspace

# Build files
Build/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Ignore packaged builds
*.pak
*.exe